body {
    width: 100vw;
    background-color: #131417;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-space-grotesk);
    margin: 0;
    display: flex;
    overflow: hidden;
}

:root {
    --font-space-grotesk: "Space Grotesk";
    --font-league-spartan: "League Spartan";
    --font-anek-latin: "Anek Latin";
    --font-li-ansi: "Li ANSI";

    --font-size-13xl: 32px;
    --font-size-xl: 20px;
    --font-size-xs: 12px;
    --font-size-5xl: 24px;

    --color-white: #fff;
    --color-silver-100: #c7c7c7;
    --color-lightgray: #d0d0d0;
    --color-darkslategray-100: #2c2e37;

    --br-mid: 17px;
    --br-11xs: 2px;

    --sidebar-height: calc(100vh - 35px);
}

button{
    cursor: pointer;
}

.com{
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 200px;
    border-radius: 7px;
    border: none;
    background-color: #5893ff;
    color: #131417;
    transform: scale(1);
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
    width: 110px;
}

.com:hover{
    background-color: #8fb6ff;
    transform: scale(1.2);
}

.com::placeholder{
    color: #ffffff7e;
}

.connect{
    position: absolute;
    top: 12px;
    left: 330px;
    background-color: transparent;
    border: none;
    color: rgb(224, 223, 223);
}

.connect span{
    font-size: 45px;
}

.ctrl_mode{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.ctrl_head{
    font-size: 30px;
    width: 100vw;
    text-align: center;
    margin-top: 20px;
}

.ctrl_rect{
    width: 370px;
    height: 370px;
    background-color: #2c2e37;
    border-radius: 20px;
    position: absolute;
    left: calc(50vw - 185px);
    top: calc(50vh - 160px);
}

.arrow_image{
    height: 370px;
    position: relative;
    left: 50px;
    bottom: 60px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.pid_mode{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;
}

.mode{
    position: absolute;
    top: 20px;
    right:10px;
    width: 150px;
    height: 35px;
    background-color: #2b2b2b;
    border-radius: 7px;
}

.ctrl,
.pid{
    background-color: transparent;
    border: none;
    color: white;
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    margin-top: 3px;
}

.ctrl{
    margin-left: 5px;
}
.pid{
    margin-left: 8px;
}

.highlighter{
    width: 40px;
    height: 25px;
    background-color: white;
    opacity: 0.2;
    position: relative;
    top: -26px;
    left: 102px;
    border-radius: 5px;
    transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
}

.p_slider,
.i_slider,
.d_slider, 
.speed_slider{
    position: absolute;
    -webkit-appearance: none; 
    appearance: none;
    width: 65vw; 
    height: 15px; 
    background: #494949; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 100px;
}

.p_slider{
    top: 100px;
    left: 20px;
}
.i_slider{
    top: 170px;
    left: 20px;
}
.d_slider{
    top: 240px;
    left: 20px;
}
.speed_slider{
    bottom: 40px;
    left: 17.5vw; 
}
  
.p_slider:hover,
.i_slider:hover,
.d_slider:hover,
.speed_slider:hover{
    opacity: 1; 
}

.p_slider::-webkit-slider-thumb,
.i_slider::-webkit-slider-thumb,
.d_slider::-webkit-slider-thumb,
.speed_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: #5893ff;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.p_slider::-webkit-slider-thumb:hover,
.i_slider::-webkit-slider-thumb:hover,
.d_slider::-webkit-slider-thumb:hover,
.speed_slider::-webkit-slider-thumb:hover{
    transform: scale(1.4);
}

.p_addsub{
    height: 30px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 95px;
    left: 68vw;
}
.i_addsub{
    height: 30px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 165px;
    left: 68vw;
}
.d_addsub{
    height: 30px;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 235px;
    left: 68vw;
}

.p_addsub_val,
.i_addsub_val,
.d_addsub_val{
    width: 100px;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.p_add,
.p_sub,
.i_add,
.i_sub,
.d_add,
.d_sub{
    border: none;
    background-color: #5893ff;
    color: white;
    border-radius: 20%;
    font-size: 20px;
    height: 30px;
    width: 30px;
    transform: scale(1);
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.p_add:hover,
.p_sub:hover,
.i_add:hover,
.i_sub:hover,
.d_add:hover,
.d_sub:hover{
    background-color: #8fb6ff;
    transform: scale(1.3);
}

.p_value,
.i_value,
.d_value{
    position: absolute;
    left: 83vw;
    width: 100px;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.p_value{
    top: 95px;
}
.i_value{
    top: 165px;
}
.d_value{
    top: 235px;
}

.p_symbol,
.i_symbol,
.d_symbol{
    position: absolute;
    background-color: #5893ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
}

.p_symbol{
    top: 95px;
}
.i_symbol{
    top: 165px;
}
.d_symbol{
    top: 235px;
}

.real_value{
    position: absolute;
    left: 90px;
    bottom: 33px;
    width: 55px;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.percentage_value{
    position: absolute;
    right: 90px;
    bottom: 33px;
    width: 70PX;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.history{
    height: 300px;
    width: 240px;
    background-color: #2b2b2b;
    position: absolute;
    bottom: 10px;
    left: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: visible;
}

.history_pid{
    margin-top: 5px;
    font-size: 17px;
    background-color: #494949;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.bot_battery{
    position: absolute;
    top: 20px;
    right: 300px;
    height: 30px;
    width: 100px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.fill_battery{
    top: 20px;
    right: 200px;
    height: 30px;
    width: 100px;
    background-color: rgba(148, 255, 180, 0.8);
    border: none;
    border-radius: 10px;
}
.voltage{
    position: relative;
    top: -27px;
    left: 20px;
    color: #131317;
    font-weight: 600;
}
.percentage{
    position: absolute;
    top: 25px;
    right: 240px;
}

.data_push{
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    font-weight: 550;
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 7px;
    border: none;
    background-color: #5893ff;
    color: #131417;
    transform: scale(1);
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.data_push:hover{
    background-color: #8fb6ff;
    transform: scale(1.2);
}

.err_graph{
    box-shadow: 0 0 7px #ffffff;
    border-radius: 10px;
}
.err_cnt{
    position: relative;
    top: 350px;
    left: 300px;
    width: 980px;
    background-color: #131314;
}

.play_pause{
    position: absolute;
    bottom: 140px;
    right: 30px;
    border: none;
    width: 80px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #121212;
    box-shadow: 0 0 7px #ffffff;
    transition: transform 0.1s ease-in-out;
    z-index: -1;
}
.play_pause span{
    font-size: 38px;
    margin-left: 20px;
    color: white;
}
.play_pause:hover{
    transform: scale(1.2);
}





::-webkit-scrollbar {
    height:10px; 
    width: 5px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #585858;
    height: 5px; 
    width: 5px; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #ffffff; 
  }


