body {
    width: 100vw;
    height: 100vh;
    background-color: #131417;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-space-grotesk);
    padding: 30px, 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

:root {
    --font-space-grotesk: "Space Grotesk";
    --font-league-spartan: "League Spartan";
    --font-anek-latin: "Anek Latin";
    --font-li-ansi: "Li ANSI";

    --font-size-13xl: 32px;
    --font-size-xl: 20px;
    --font-size-xs: 12px;
    --font-size-5xl: 24px;

    --color-white: #fff;
    --color-silver-100: #c7c7c7;
    --color-lightgray: #d0d0d0;
    --color-darkslategray-100: #2c2e37;

    --br-mid: 17px;
    --br-11xs: 2px;

    --sidebar-height: calc(100vh - 35px);
}

button{
    cursor: pointer;
}

.top_parts{
    display: flex;
    height: 40px;
    width: 95%;
    justify-content: space-between;
}

.IR_states {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #2b2b2b;
    border-radius: 500px;
    padding: 15px 10px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  .IR_states div {
    width: 15px;
    height: 15px;
    border-radius: 500px;
    background-color: #555555;
  }

.left_group, .right_group{
    display: flex;
    gap: 20px;
}

.bot_battery{
    width: 100px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.fill_battery{    
    width: 100%;
    height: 100%;
    background-color: rgba(148, 255, 180, 0.8);    
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voltage{
    top: -27px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.percentage{
    top: 25px;
    right: 240px;
}

.data_push{
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    font-weight: 550;
    width: 130px;
    border: none;
    background-color: #5893ff;
    color: #131417;
    transform: scale(1);
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out, border-radius 0.1s ease-in-out;
}
.data_push:hover{
    background-color: #8fb6ff;
    transform: scale(1.2);
    border-radius: 100px;
}
.data_push:active{
    transform: scale(0.8);
}

.com{
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    border: none;
    background-color: transparent;
    color: white;
    border: 2px solid #8fb6ff;
    transform: scale(1);
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
    width: 110px;
}
.com::placeholder{
    color: #ffffff7e;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.connect{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-space-grotesk);
    border: none;
    color: rgb(255, 255, 255);
    background-color: #5893ff;
    border-radius: 10px;
    transition: border-radius 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.connect:hover{
    border-radius: 100px;
    transform: scale(1.2);
}
.connect:active{
    transform: scale(0.8);
}

.mode{
    width: 150px;
    height: 35px;
    background-color: #2b2b2b;
    border-radius: 7px;
    display: block;
}

.pid{
    margin-left: 8px;
}

.highlighter{
    position: relative;
    top: -26px;
    left: 102px;
    width: 40px;
    height: 25px;
    background-color: white;
    opacity: 0.2;
    border-radius: 5px;
    transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
}
.ctrl,
.pid{
    background-color: transparent;
    border: none;
    color: white;
    font-family: var(--font-space-grotesk);
    font-size: 20px;
    margin-top: 3px;
}

.ctrl{
    margin-left: 5px;
}

.pid_mode{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    gap: 50px;
}

.send_data_arguments{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.motor_speed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.max_right,
.max_left,
.base_speed{
    width: 50px;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.max_left_speed label,
.max_right_speed label,
.base_speed_group label{
    font-size: 15px;
    opacity: 0.8;
}

.current_left_speed_group,
.current_right_speed_group,
.PID_impact_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 50px;
}

.current_left_speed_group h6,
.current_right_speed_group h6,
.PID_impact_group h6{
    text-align: center;
    font-weight: 100;
    font-size: 10px;
}

.current_right_speed_border,
.current_left_speed_border,
.PID_impact_border{
    width: 100%;
    height: 90px;
    background-color: transparent;
    border: 2px solid rgb(88, 147, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.current_right_speed,
.current_left_speed,
.PID_impact_speed{
    width: 100%;
    height: 0%;
    background-color: rgb(88, 147, 255, 0.4);    
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pid_control_unit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.proportional, .integral, .derivative{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.p_slider,
.i_slider,
.d_slider, 
.speed_slider{
    -webkit-appearance: none; 
    appearance: none;
    width: 50vw; 
    height: 15px; 
    background: #494949; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 100px;
}
.speed_slider{
    bottom: 40px;
    left: 17.5vw;
}
  
.p_slider:hover,
.i_slider:hover,
.d_slider:hover,
.speed_slider:hover{
    opacity: 1; 
}

.p_slider::-webkit-slider-thumb,
.i_slider::-webkit-slider-thumb,
.d_slider::-webkit-slider-thumb,
.speed_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: #5893ff;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.p_slider::-webkit-slider-thumb:hover,
.i_slider::-webkit-slider-thumb:hover,
.d_slider::-webkit-slider-thumb:hover,
.speed_slider::-webkit-slider-thumb:hover{
    transform: scale(1.4);
}

.p_value,
.i_value,
.d_value{
    left: 83vw;
    width: 100px;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}



.p_symbol,
.i_symbol,
.d_symbol{
    background-color: transparent;
    border: 2px solid #4876cc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
}



.real_value{
    left: 90px;
    bottom: 33px;
    width: 55px;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.percentage_value{
    right: 90px;
    bottom: 33px;
    width: 70PX;
    font-family: var(--font-space-grotesk);
    font-weight: 800;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.history_err_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-bottom: 30px;
}

.history{
    padding: 5px;
    height: 300px;
    width: 240px;
    background-color: #2b2b2b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: visible;
}

.history_pid{
    margin-top: 5px;
    font-size: 17px;
    background-color: #494949;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.err_cnt{
    flex-grow: 1;
    background-color: #131314;
}

.err_graph{
    box-shadow: 0 0 5px #ffffff;
    border-radius: 10px;
}

.play_pause{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 140px;
    right: 30px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #121212;
    box-shadow: 0 0 5px #ffffff;
    transition: transform 0.1s ease-in-out;
}
.play_pause:hover{
    transform: scale(1.2);
}
.play_pause:active{
    transform: scale(0.8);
}

.play_pause_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.start_follow{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 140px;
    right: 30px;
    border: none;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    background-color: #5893ff;
    transition: transform 0.1s ease-in-out;
    color: #131314;
    font-weight: 700;
    font-family: var(--font-space-grotesk);
}
.start_follow:hover{
    transform: scale(1.2);
}
.start_follow:active{
    transform: scale(0.8);
}

.ctrl_mode{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.ctrl_head{
    font-size: 15px;
    opacity: 0.8;
    width: 100vw;
    text-align: center;
    margin-top: 20px;
}

.arrow_group{
    display: grid;
    grid-template-rows: repeat(3, auto); 
    grid-template-columns: repeat(3, auto); 
    gap: 20px;
    margin-bottom: 20px;
}
.arrow_group svg{
    width: 80px;
    height: 80px;
}
.top_arrow, .bottom_arrow, .left_arrow, .right_arrow{
    width: 100px;
    height: 100px;
    background-color: #5893ff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.top_arrow{
    grid-row: 1;
    grid-column: 2;
}
.bottom_arrow{
    grid-row: 3;
    grid-column: 2;
}
.left_arrow{
    grid-row: 2;
    grid-column: 1;
}
.right_arrow{
    grid-row: 2;
    grid-column: 3;
}

.top_arrow:hover, .bottom_arrow:hover, .left_arrow:hover, .right_arrow:hover{
    transform: scale(1.1);
}
.top_arrow:active, .bottom_arrow:active, .left_arrow:active, .right_arrow:active{
    transform: scale(0.8);
}

.speed_input{
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.speed_input_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.speed_input_group label{
    font-size: 15px;
    opacity: 0.8;
}
.speed_input_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

::-webkit-scrollbar {
    height:10px; 
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #585858;
    height: 5px; 
    width: 5px; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff; 
}

